body {
    margin: 0;
}

header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}

header .background {
    background-image: url(../image/background.jpg);
    width: 100%;
    position: absolute;
}

header h1 {
    position: absolute;
    color: #FFF;
}

main {
    padding: 1.5rem 2.4rem;
}